#burger{
    background-color: rgb(217, 43, 43);
}
.bur img{ 
    height: 200px;
    width: 200px;
    margin: 30px;
    
    
}
.bur{
    display: flex;
    justify-content: space-between;
}
.name {
    font-size: 35px;
    margin: 40px;
    margin-top: 80px;
}
p{
    margin: 41px;
    margin-top: 25px;
    font-size: 20px;
}